.LINK {
  cursor: pointer;
}
.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
body {
  background: linear-gradient(89deg, #ff5edf 0%, #04c8de 100%);
}
.boxing {
  border: 2px solid black;
}
